body {
   background-color: #FFFFFF;
   color: #4F4F4F;
   font-family: "Proxima Nova Lt";
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#site_header {
   background-color: #232325;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#header {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 30px 15px 30px 15px;
}
#header .row {
   margin-left: -15px;
   margin-right: -15px;
}
#header .col-1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#header .col-1 {
   float: left;
}
#header .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 100%;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after {
   content: " ";
   display: table;
}
#header:after,
#header .row:after {
   clear: both;
}
@media (max-width: 480px) {
#header .col-1 {
   float: none;
   width: 100%;
}
}
#site_logo_div {
   background-color: #2A93E4;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#logo_div {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 30px 15px 30px 15px;
}
#logo_div .row {
   margin-left: -15px;
   margin-right: -15px;
}
#logo_div .col-1,
#logo_div .col-2,
#logo_div .col-3 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#logo_div .col-1,
#logo_div .col-2,
#logo_div .col-3 {
   float: left;
}
#logo_div .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 33.33333333%;
}
#logo_div .col-2 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 33.33333333%;
}
#logo_div .col-3 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 33.33333333%;
}
#logo_div:before,
#logo_div:after,
#logo_div .row:before,
#logo_div .row:after {
   content: " ";
   display: table;
}
#logo_div:after,
#logo_div .row:after {
   clear: both;
}
@media (max-width: 480px) {
#logo_div .col-1,
#logo_div .col-2,
#logo_div .col-3 {
   float: none;
   width: 100%;
}
}
#site_ResponsiveMenu {
   display: block;
   text-align: left;
   width: 100%;
}
#ResponsiveMenu {
   background-color: #424242;
   height: 45px;
}
#site_ResponsiveMenu ul {
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#site_ResponsiveMenu ul:after {
   clear: both;
   content: "";
   display: block;
}
#site_ResponsiveMenu ul li {
   background-color: #424242;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#site_ResponsiveMenu ul li i {
   font-size: 0px;
   width: 0px;
}
#site_ResponsiveMenu ul li a {
   color: #FFFFFF;
   font-family: "Proxima Nova Lt";
   font-size: 15px;
   font-style: normal;
   font-weight: normal;
   padding: 15px 30px 15px 30px;
   text-align: center;
   text-decoration: none;
}
#site_ResponsiveMenu > ul > li > a {
   height: 15px;
}
.ResponsiveMenu a {
   display: block;
}
#site_ResponsiveMenu li a:hover,
#site_ResponsiveMenu li .active {
   background-color: #CCCCCC;
   color: #424242;
}
#site_ResponsiveMenu ul ul {
   display: none;
   position: absolute;
   top: 45px;
}
#site_ResponsiveMenu ul li:hover > ul {
   display: list-item;
}
#site_ResponsiveMenu ul ul li {
   background-color: #7A7A7A;
   color: #FFFFFF;
   float: none;
   position: relative;
   width: 104px;
}
#site_ResponsiveMenu ul ul li a:hover,
#site_ResponsiveMenu ul ul li .active {
   background-color: #CCCCCC;
   color: #424242;
}
#site_ResponsiveMenu ul ul li i {
   margin-right: 0px;
   vertical-align: middle;
}
#site_ResponsiveMenu ul ul li a {
   color: #FFFFFF;
   padding: 15px 20px 15px 20px;
   text-align: left;
   vertical-align: middle;
}
#site_ResponsiveMenu ul ul ul li {
   left: 104px;
   position: relative;
   top: -45px;
}
#site_ResponsiveMenu .arrow-down {
   border-bottom: 0 dotted;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   border-top: 4px solid #FFFFFF;
   display: inline-block;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   width: 0;
}
#site_ResponsiveMenu .arrow-left {
   border-bottom: 4px solid transparent;
   border-left: 4px solid #FFFFFF;
   border-right: 0 dotted;
   border-top: 4px solid transparent;
   display: inline-block;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   width: 0;
}
#site_ResponsiveMenu li a:hover .arrow-down {
   border-top-color: #424242;
}
#site_ResponsiveMenu ul ul li a:hover .arrow-left,
#site_ResponsiveMenu ul ul li .active .arrow-left {
   border-left-color: #424242;
}
#site_ResponsiveMenu .toggle,
[id^=ResponsiveMenu-submenu] {
   display: none;
}
@media all and (max-width:768px) {
#site_ResponsiveMenu {
   margin: 0;
   text-align: left;
}
#site_ResponsiveMenu ul li a,
#site_ResponsiveMenu .toggle {
   font-size: 15px;
   font-style: normal;
   font-weight: normal;
   padding: 15px 20px 15px 20px;
}
#site_ResponsiveMenu .toggle + a {
   display: none  !important;
}
.ResponsiveMenu {
   display: none;
   z-index: 9999;
}
#ResponsiveMenu {
   background-color: transparent;
}
#site_ResponsiveMenu > ul > li > a {
   height: auto;
}
#site_ResponsiveMenu .toggle {
   background-color: #424242;
   border: none;
   color: #FFFFFF;
   display: block;
   line-height: 30px;
   padding: 0px 20px 0px 20px;
   text-decoration: none;
}
#site_ResponsiveMenu .toggle:hover {
   background-color: #CCCCCC;
   color: #424242;
}
[id^=ResponsiveMenu-submenu]:checked + ul {
   display: block  !important;
}
#ResponsiveMenu-title {
   height: 45px;
   line-height: 45px  !important;
   text-align: center;
}
#site_ResponsiveMenu ul li {
   display: block;
   width: 100%;
}
#site_ResponsiveMenu ul ul .toggle,
#site_ResponsiveMenu ul ul a {
   padding: 0 40px;
}
#site_ResponsiveMenu a:hover,
#site_ResponsiveMenu ul ul ul a {
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#site_ResponsiveMenu ul li ul li .toggle,
#site_ResponsiveMenu ul ul a {
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#site_ResponsiveMenu ul ul ul a {
   padding: 15px 20px 15px 60px;
}
#site_ResponsiveMenu ul li a {
   text-align: left;
}
#site_ResponsiveMenu ul li a br {
   display: none;
}
#site_ResponsiveMenu ul li i {
   margin-right: 0px;
}
#site_ResponsiveMenu ul ul {
   float: none;
   position: static;
}
#site_ResponsiveMenu ul ul li:hover > ul,
#site_ResponsiveMenu ul li:hover > ul {
   display: none;
}
#site_ResponsiveMenu ul ul li {
   display: block;
   width: 100%;
}
#site_ResponsiveMenu ul ul ul li {
   position: static;
}
#ResponsiveMenu-icon {
   display: block;
   left: 30px;
   position: absolute;
   top: 10px;
}
#ResponsiveMenu-icon span {
   background-color: #FFFFFF;
   color: #FFFFFF;
   display: block;
   height: 2px;
   margin-top: 4px;
   width: 24px;
}
#site_ResponsiveMenu ul li ul li .toggle:hover {
   background-color: #CCCCCC;
   color: #424242;
}
#site_ResponsiveMenu .toggle .arrow-down {
   border-top-color: #FFFFFF;
}
#site_ResponsiveMenu .toggle:hover .arrow-down,
#site_ResponsiveMenu li .active .arrow-down {
   border-top-color: #424242;
}
#site_ResponsiveMenu ul li ul li .toggle .arrow-down {
   border-top-color: #FFFFFF;
}
#site_ResponsiveMenu ul li ul li .toggle:hover .arrow-down,
#site_ResponsiveMenu ul li ul li .active .arrow-down {
   border-top-color: #424242;
}
}
#site_zag_par1 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#zag_par1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 50px 15px 50px 15px;
}
#zag_par1 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#zag_par1 .col-1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#zag_par1 .col-1 {
   float: left;
}
#zag_par1 .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 100%;
}
#zag_par1:before,
#zag_par1:after,
#zag_par1 .row:before,
#zag_par1 .row:after {
   content: " ";
   display: table;
}
#zag_par1:after,
#zag_par1 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#zag_par1 .col-1 {
   float: none;
   width: 100%;
}
}
#site_par1 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#par1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 15px 0px 15px;
}
#par1 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#par1 .col-1,
#par1 .col-2,
#par1 .col-3 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#par1 .col-1,
#par1 .col-2,
#par1 .col-3 {
   float: left;
}
#par1 .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 33.33333333%;
}
#par1 .col-2 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 33.33333333%;
}
#par1 .col-3 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 33.33333333%;
}
#par1:before,
#par1:after,
#par1 .row:before,
#par1 .row:after {
   content: " ";
   display: table;
}
#par1:after,
#par1 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#par1 .col-1,
#par1 .col-2,
#par1 .col-3 {
   float: none;
   width: 100%;
}
}
#site_zag_par2 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#zag_par2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 50px 15px 50px 15px;
}
#zag_par2 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#zag_par2 .col-1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#zag_par2 .col-1 {
   float: left;
}
#zag_par2 .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 100%;
}
#zag_par2:before,
#zag_par2:after,
#zag_par2 .row:before,
#zag_par2 .row:after {
   content: " ";
   display: table;
}
#zag_par2:after,
#zag_par2 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#zag_par2 .col-1 {
   float: none;
   width: 100%;
}
}
#site_par2 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#par2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 15px 50px 15px;
}
#par2 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#par2 .col-1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#par2 .col-1 {
   float: left;
}
#par2 .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 100%;
}
#par2:before,
#par2:after,
#par2 .row:before,
#par2 .row:after {
   content: " ";
   display: table;
}
#par2:after,
#par2 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#par2 .col-1 {
   float: none;
   width: 100%;
}
}
#site_table_search {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#table_search {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 15px 50px 15px;
}
#table_search .row {
   margin-left: -15px;
   margin-right: -15px;
}
#table_search .col-1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#table_search .col-1 {
   float: left;
}
#table_search .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 100%;
}
#table_search:before,
#table_search:after,
#table_search .row:before,
#table_search .row:after {
   content: " ";
   display: table;
}
#table_search:after,
#table_search .row:after {
   clear: both;
}
@media (max-width: 480px) {
#table_search .col-1 {
   float: none;
   width: 100%;
}
}
#site_LayoutGrid2 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 50px 15px 50px 15px;
}
#LayoutGrid2 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#LayoutGrid2 .col-1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#LayoutGrid2 .col-1 {
   float: left;
}
#LayoutGrid2 .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 100%;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after {
   content: " ";
   display: table;
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#LayoutGrid2 .col-1 {
   float: none;
   width: 100%;
}
}
#site_LayoutGrid1 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 15px 50px 15px;
}
#LayoutGrid1 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#LayoutGrid1 .col-1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#LayoutGrid1 .col-1 {
   float: left;
}
#LayoutGrid1 .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 100%;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after {
   content: " ";
   display: table;
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#LayoutGrid1 .col-1 {
   float: none;
   width: 100%;
}
}
#site_footer {
   background-color: #232325;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#footer {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 30px 15px 30px 15px;
}
#footer .row {
   margin-left: -15px;
   margin-right: -15px;
}
#footer .col-1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#footer .col-1 {
   float: left;
}
#footer .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 100%;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after {
   content: " ";
   display: table;
}
#footer:after,
#footer .row:after {
   clear: both;
}
@media (max-width: 480px) {
#footer .col-1 {
   float: none;
   width: 100%;
}
}
#site_Text3 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#site_Text3 div {
   text-align: left;
}
#site_Text5 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: center;
}
#site_Text5 div {
   text-align: center;
}
#site_Text6 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#site_Text6 div {
   text-align: left;
}
#site_Text7 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#site_Text7 div {
   text-align: left;
}
#site_Text8 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0px 0px 40px 0px;
   text-align: left;
}
#site_Text8 div {
   text-align: left;
}
#site_Image1 {
   vertical-align: top;
}
#Image1 {
   border: 0px #000000 solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   height: 104px;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   width: 95px;
}
#site_Image2 {
   vertical-align: top;
}
#Image2 {
   border: 0px #000000 solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   height: 142px;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   width: 202px;
}
#site_Image3 {
   vertical-align: top;
}
#Image3 {
   border: 0px #000000 solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   height: 118px;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   width: 128px;
}
#site_Text9 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0px 0px 40px 0px;
   text-align: left;
}
#site_Text9 div {
   text-align: left;
}
#site_Text10 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0px 0px 40px 0px;
   text-align: left;
}
#site_Text10 div {
   text-align: left;
}
#site_Text11 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0px 0px 40px 0px;
   text-align: left;
}
#site_Text11 div {
   text-align: left;
}
#site_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: center;
}
#site_Text1 div {
   text-align: center;
}
#site_Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#site_Text2 div {
   text-align: left;
}
#site_Text4 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#site_Text4 div {
   text-align: left;
}
#site_Text12 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0px 0px 40px 0px;
   text-align: center;
}
#site_Text12 div {
   text-align: center;
}
#site_Text13 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0px 0px 40px 0px;
   text-align: left;
}
#site_Text13 div {
   text-align: left;
}
#site_Text14 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0px 0px 40px 0px;
   text-align: left;
}
#site_Text14 div {
   text-align: left;
}
#site_BulletedList5 {
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#site_BulletedList5 .bullet {
   color: #4F4F4F;
   float: left;
   font-family: "Proxima Nova Lt";
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   padding: 0px;
   text-align: center;
   vertical-align: top;
   width: 49px;
}
#site_BulletedList5 .item {
   margin-left: 51px;
   padding: 0px 0 0px 0;
   vertical-align: top;
}
#site_BulletedList5 .item0 {
   text-align: left;
}
#site_BulletedList5 .item1 {
   text-align: left;
}
#site_BulletedList5 .item2 {
   text-align: left;
}
#site_BulletedList5 .item3 {
   text-align: left;
}
#site_BulletedList6 {
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#site_BulletedList6 .bullet {
   color: #4F4F4F;
   float: left;
   font-family: "Proxima Nova Lt";
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   padding: 0px;
   text-align: center;
   vertical-align: top;
   width: 49px;
}
#site_BulletedList6 .item {
   margin-left: 51px;
   padding: 0px 0 0px 0;
   vertical-align: top;
}
#site_BulletedList6 .item0 {
   text-align: left;
}
#site_BulletedList6 .item1 {
   text-align: left;
}
#site_BulletedList6 .item2 {
   text-align: left;
}
#site_BulletedList6 .item3 {
   text-align: left;
}
#site_CssMenu1 {
   background-color: transparent;
   border: 0px #C0C0C0 solid;

}
#site_CssMenu1 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 400px;
}
#site_CssMenu1 li {
   float: left;
   margin: 0;
   padding: 0px 0px 4px 0px;
   width:400px;
}
#site_CssMenu1 a {
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #CCCCCC solid;
   border-radius: 10px;
   color: #4F4F4F;
   display: block;
   font-family: "Proxima Nova Lt";
   font-size: 17px;
   font-style: normal;
   font-weight: normal;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   width: 400px;
}
#site_CssMenu1 li:hover a,
#site_CssMenu1 a:hover {
   background-color: #2A93E4;
   background-image: none;
   border: 0px #2E6DA4 solid;
   color: #FFFFFF;
}
#site_CssMenu1 .firstmain a {
   margin-top: 0px;
}
#site_CssMenu1 li.lastmain {
   padding-bottom: 0px;
}
#site_CssMenu1 br {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.site_CssMenu2 {
   background-color: transparent;
   border: 0px #C0C0C0 solid;
}
.site_CssMenu2 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 80px;
}
.site_CssMenu2 li {
   float: left;
   margin: 0;
   padding: 0px 0px 4px 0px;
   width: 200px;
}
.site_CssMenu2 a {
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #CCCCCC solid;
   border-radius: 10px;
   color: #4F4F4F;
   display: block;
   font-family: "Proxima Nova Lt";
   font-size: 17px;
   font-style: normal;
   font-weight: normal;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   width: 200px;
}
.site_CssMenu2 li:hover a,
.site_CssMenu2 a:hover {
   background-color: #2A93E4;
   background-image: none;
   border: 0px #2E6DA4 solid;
   color: #FFFFFF;
}

/*site_CssMenu2 a{*/
   /*background-color: #2A93E4;*/
   /*background-image: none;*/
   /*border: 0px #2E6DA4 solid;*/
   /*color: #FFFFFF;*/
/*}*/

.site_CssMenu2 .firstmain a {
   margin-top: 0px;
}
.site_CssMenu2 li.lastmain {
   padding-bottom: 0px;
}
.site_CssMenu2 br {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#site_CssMenu3 {
   background-color: transparent;
   border: 0px #C0C0C0 solid;
}
#site_CssMenu3 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 80px;
}
#site_CssMenu3 li {
   float: left;
   margin: 0;
   padding: 0px 0px 4px 0px;
   width: 80px;
}
#site_CssMenu3 a {
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #CCCCCC solid;
   border-radius: 10px;
   color: #4F4F4F;
   display: block;
   font-family: "Proxima Nova Lt";
   font-size: 17px;
   font-style: normal;
   font-weight: normal;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   width: 70px;
}
#site_CssMenu3 li:hover a,
#site_CssMenu3 a:hover {
   background-color: #2A93E4;
   background-image: none;
   border: 0px #2E6DA4 solid;
   color: #FFFFFF;
}
#site_CssMenu3 .firstmain a {
   margin-top: 0px;
}
#site_CssMenu3 li.lastmain {
   padding-bottom: 0px;
}
#site_CssMenu3 br {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#site_CssMenu4 {
   background-color: transparent;
   border: 0px #C0C0C0 solid;
}
#site_CssMenu4 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 80px;
}
#site_CssMenu4 li {
   float: left;
   margin: 0;
   padding: 0px 0px 4px 0px;
   width: 80px;
}
#site_CssMenu4 a {
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #CCCCCC solid;
   border-radius: 10px;
   color: #4F4F4F;
   display: block;
   font-family: "Proxima Nova Lt";
   font-size: 17px;
   font-style: normal;
   font-weight: normal;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   width: 70px;
}
#site_CssMenu4 li:hover a,
#site_CssMenu4 a:hover {
   background-color: #2A93E4;
   background-image: none;
   border: 0px #2E6DA4 solid;
   color: #FFFFFF;
}
#site_CssMenu4 .firstmain a {
   margin-top: 0px;
}
#site_CssMenu4 li.lastmain {
   padding-bottom: 0px;
}
#site_CssMenu4 br {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#site_Text16 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0px 0px 40px 0px;
   text-align: left;
}
#site_Text16 div {
   text-align: left;
}
#site_Text17 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0px 0px 40px 0px;
   text-align: left;
}
#site_Text17 div {
   text-align: left;
}
#site_BulletedList1 {
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#site_BulletedList1 .bullet {
   color: #4F4F4F;
   float: left;
   font-family: "Proxima Nova Lt";
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   padding: 0px;
   text-align: center;
   vertical-align: top;
   width: 49px;
}
#site_BulletedList1 .item {
   margin-left: 51px;
   padding: 0px 0 0px 0;
   vertical-align: top;
}
#site_BulletedList1 .item0 {
   text-align: left;
}
#site_BulletedList1 .item1 {
   text-align: left;
}
#site_BulletedList1 .item2 {
   text-align: left;
}
#site_BulletedList1 .item3 {
   text-align: left;
}
#site_BulletedList2 {
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#site_BulletedList2 .bullet {
   color: #4F4F4F;
   float: left;
   font-family: "Proxima Nova Lt";
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   padding: 0px;
   text-align: center;
   vertical-align: top;
   width: 49px;
}
#site_BulletedList2 .item {
   margin-left: 51px;
   padding: 0px 0 0px 0;
   vertical-align: top;
}
#site_BulletedList2 .item0 {
   text-align: left;
}
#site_BulletedList2 .item1 {
   text-align: left;
}
#site_BulletedList2 .item2 {
   text-align: left;
}
#site_BulletedList2 .item3 {
   text-align: left;
}
#Table1 {
   background-color: transparent;
   background-image: none;
   border: 2px #C0C0C0 solid;
   border-collapse: collapse;
   border-spacing: 1px;
}
#Table1 td {
   padding: 0px 0px 0px 0px;
}
#Table1 td div {
   white-space: nowrap;
}
#Table1 .cell0 {
   background-color: #2A93E4;
   background-image: none;
   border: 1px #FFFFFF solid;
   text-align: left;
   vertical-align: middle;
}
#Table1 .cell1 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: middle;
}
#site_Text15 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0px 0px 40px 0px;
   text-align: left;
}
#site_Text15 div {
   text-align: left;
}
#site_Text18 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0px 0px 40px 0px;
   text-align: left;
}
#site_Text18 div {
   text-align: left;
}
#site_BulletedList3 {
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#site_BulletedList3 .bullet {
   color: #4F4F4F;
   float: left;
   font-family: "Proxima Nova Lt";
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   padding: 0px;
   text-align: center;
   vertical-align: top;
   width: 49px;
}
#site_BulletedList3 .item {
   margin-left: 51px;
   padding: 0px 0 0px 0;
   vertical-align: top;
}
#site_BulletedList3 .item0 {
   text-align: left;
}
#site_BulletedList3 .item1 {
   text-align: left;
}
#site_BulletedList3 .item2 {
   text-align: left;
}
#site_BulletedList3 .item3 {
   text-align: left;
}
#site_BulletedList4 {
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#site_BulletedList4 .bullet {
   color: #4F4F4F;
   float: left;
   font-family: "Proxima Nova Lt";
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   padding: 0px;
   text-align: center;
   vertical-align: top;
   width: 49px;
}
#site_BulletedList4 .item {
   margin-left: 51px;
   padding: 0px 0 0px 0;
   vertical-align: top;
}
#site_BulletedList4 .item0 {
   text-align: left;
}
#site_BulletedList4 .item1 {
   text-align: left;
}
#site_BulletedList4 .item2 {
   text-align: left;
}
#site_BulletedList4 .item3 {
   text-align: left;
}
#site_Text19 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: center;
}
#site_Text19 div {
   text-align: center;
}
#site_Text20 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#site_Text20 div {
   text-align: left;
}
#site_Text21 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#site_Text21 div {
   text-align: left;
}
#site_Text22 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#site_Text22 div {
   text-align: left;
}
#site_uid19 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_uid1 {
   color: #2A93E4;
   font-family: Proxima Nova Rg;
   font-size: 20px;
}
#site_uid2 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 20px;
}
#site_uid3 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 20px;
}
#site_uid4 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 20px;
}
#site_Image1 {
   display: inline-block;
   height: 104px;
   width: 95px;
   z-index: 2;
}
#site_uid5 {
   color: #2A93E4;
   font-family: Proxima Nova Rg;
   font-size: 20px;
}
#site_Image2 {
   display: inline-block;
   height: 142px;
   width: 202px;
   z-index: 3;
}
#site_uid40 {
   color: #FFFFFF;
   font-family: Proxima Nova Lt;
   font-size: 13px;
}
#Table1 {
   display: table;
   height: 178px;
   width: 100%;
   z-index: 15;
}
#site_uid6 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 20px;
}
#site_Image3 {
   display: inline-block;
   height: 118px;
   width: 128px;
   z-index: 4;
}
#site_uid30 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_uid7 {
   color: #FFFFFF;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_uid31 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 20px;
   line-height: 14px;
}
#site_uid20 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_uid8 {
   color: #FFFFFF;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#Image1 {
   margin-top: 20px;
}
#site_uid32 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 13px;
   line-height: 14px;
}
#site_uid21 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 20px;
   line-height: 14px;
}
#site_uid10 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_uid9 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 13px;
   line-height: 23px;
}
#site_uid33 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 13px;
   line-height: 23px;
}
#site_uid22 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 13px;
   line-height: 14px;
}
#site_uid11 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_uid34 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_uid23 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 13px;
   line-height: 23px;
}
#site_uid12 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 20px;
   line-height: 14px;
}
#site_ResponsiveMenu {
   display: inline-block;
   width: 100%;
   z-index: 1;
}
#site_uid35 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_uid24 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_uid13 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 13px;
   line-height: 23px;
}
#site_uid36 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 20px;
   line-height: 14px;
}
#site_uid25 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_uid14 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_CssMenu1 {
   display: inline-block;
   height: auto;
   width: 400px;
   z-index: 14;
}
#site_uid37 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 13px;
   line-height: 14px;
}
#site_uid26 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 20px;
   line-height: 14px;
}
#site_uid15 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
.site_CssMenu2 {
   display: inline-block;
   height: auto;
   width: 100%;
   z-index: 7;
}
#site_uid38 {
   color: #2A93E4;
   font-family: Proxima Nova Rg;
   font-size: 20px;
}
#site_uid27 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 13px;
   line-height: 14px;
}
#site_uid16 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 20px;
   line-height: 14px;
}
#site_CssMenu3 {
   display: inline-block;
   height: 128px;
   width: 80px;
   z-index: 9;
}
#site_uid39 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 17px;
}
#site_uid28 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 13px;
   line-height: 23px;
}
#site_uid17 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 13px;
   line-height: 14px;
}
#site_CssMenu4 {
   display: inline-block;
   height: 128px;
   width: 80px;
   z-index: 11;
}
#site_uid29 {
   color: #4F4F4F;
   font-family: proxima nova lt;
   font-size: 20px;
   line-height: 23px;
}
#site_uid18 {
   color: #4F4F4F;
   font-family: Proxima Nova Lt;
   font-size: 13px;
   line-height: 23px;
}
#site_uid0 {
   color: #FFFFFF;
   font-family: Proxima Nova Lt;
   font-size: 13px;
}
